<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>
	<!-- <ul class="scrollify__list">
		<li class="scrollify__item"></li>
		<li class="scrollify__item scrollify__item_active"></li>
		<li class="scrollify__item"></li>
		<li class="scrollify__item"></li>
		<li class="scrollify__item"></li>
		<li class="scrollify__item"></li>
	</ul> -->
   <div id="body-inner">
	    {{> header }}

	    {{> body }}

	    {{> footer }}
   </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="../assets/scripts/script.min.js"></script>
</body>
</html>
