<header class="header">
   <div class="header__body">

	   <!-- header__logo -->
	   <div class="header__logo">
			<a href="#" class="header__link">
				<img class="logo" src="../assets/images/logo.svg" alt="Porsche singer" >
			</a>
	   </div>

	   <!-- header__nav -->
	   <div class="header__items">

	   	<div class="sorch">
	   		<input type="text" class="sorch__input">
	   		<div class="sorch__wrap-img">
	   			<img class="sorch__img" src="../assets/images/sorch.svg" alt="Sorch" >
	   		</div>
	   	</div>

	   	<div class="manu">
	   		<div class="manu__burger"></div>
	   	</div>

	   </div>

	</div>


	<!-- nav -->
	<nav class="nav">
		<ul class="nav__list">
		   <li class="nav__item"><a href="#" class="nav__link">Home </a></li>
		   <li class="nav__item"><a href="#" class="nav__link">About</a></li>
		   <li class="nav__item"><a href="#" class="nav__link">Details</a></li>
		</ul>
	</nav>
   
</header>
